@font-face {
  font-family: Bouygues-Bold;
  src: url("assets/BouyguesRead-Bold.otf") format("opentype");
}
@font-face {
  font-family: Bouygues-Regular;
  src: url("assets/BouyguesRead-Medium.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #output-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button-class {
    z-index: 999;
    position: absolute;

    height: 50px;
    width: 100px;
    font-size: 1.5em;
  }
  
  .select-menu {
    position: absolute;
    top: 20px;
    z-index: 100;
    height: 50px;
  }

  .select-menu > select {
    max-width: 200px;
    height: 100%;
    font-size: 1.5em;
  }

  .flamingo-logo {
    width: 100%;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .poweredbysnap-logo {
    width: 100%;
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poweredbysnap-logo > img {
    width: 200px;
  }

  #card-container{
    /* height: 100vh; */
    width: 100vw;
    top: 0;
    position: absolute;
    display: none; /* none - flex*/
    align-items: center;
    justify-content: center;
  }
  #card{
    background-image: url("assets/FOND\ CARTE.png") ; ; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #code{
    background-image: url("assets/BANDEAU\ REDUCTION.png") ; ; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    text-align: center;
    width: 80%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bouygues-Bold;
    font-size : 50px;
  }
  .message{
    text-align: center;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bouygues-Regular;
    color: white;
    font-size : 50px;
  }
  .rdv{
    font-size : 40px;
  }
  #title{
    text-align: center;
    width: 80%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bouygues-Bold;
    font-size : 60px;
    color: white;
  }
  #mail{
    font-family: Bouygues-Bold;
    color: grey;
    margin-top:6px;
    margin-bottom:6px;
  }
  .button-container{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    text-align: left;
    font-size: 34px;
    line-height: 35px;
  }
  .button-img{
    width: 70px;
    margin-right:20px
  }
  